<!DOCTYPE HTML>
<html lang="uk">
<head th:insert="fragments/basicFragments :: headFragment"></head>

<link rel="stylesheet" href="/static/css/formGeneralStyle.css">

<style>
    .link-container a {
        text-decoration: none;
    }

    .link-container a:hover {
        color: #5a5a5a;
    }

    #pageTitle {
        position: relative;
        font-size: 22px;
    }

    #pageTitle:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 350px;
        background: black;
    }
</style>

<body>

<header th:insert="fragments/basicFragments :: navbar"></header>

<div class="container mt-5 mb-4">
    <div id="forgotPasswordContainer" class="m-auto" style="width: 500px;">
        <h5 id="pageTitle" class="text-center mb-5">Перевірка реєстраційних даних</h5>

        <th:block th:if="${message}">
            <div th:class="'alert alert-' + ${messageType} + ' text-center'" role="alert" th:text="${message}"></div>
        </th:block>

        <form id="forgotPasswordForm" action="/forgot-password" method="post">
            <div>
                <div class="form-group row">
                    <div class="col" style="margin-bottom: 30px">
                        <label for="username">Введіть ваш логін:</label>
                        <input id="username" type="text" name="username"
                               class="form-control position-relative"
                               placeholder="Логін"
                               th:value="${username}"/>
                        <div id="usernameError" class="invalid-feedback position-absolute"
                             style="width: fit-content"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col" style="margin-bottom: 30px">
                        <label for="email">Введіть вашу електронну пошту:</label>
                        <input id="email" type="email" name="email"
                               class="form-control position-relative"
                               placeholder="Електронна пошта"
                               th:value="${email}"/>
                        <div id="emailError" class="invalid-feedback position-absolute"
                             style="width: fit-content"></div>
                    </div>
                </div>

                <div class="text-center position-relative">
                    <div id="recaptcha" class="g-recaptcha"
                         data-sitekey="6Lekfc8fAAAAALA4S3glskj4yfT0JXfOiiiMGGFf"
                         data-callback="verifyCaptcha"
                         style="display: inline-block;"></div>
                    <div id="recaptchaError"></div>
                </div>
            </div>

            <div id="forgotPasswordButtonContainer" class="text-center">
                <button class="btn btn-dark" style="margin-top: 20px" type="submit">Надіслати</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </div>
        </form>

        <div class="mt-3 text-center link-container">
            <a class="link-dark" href="/login">Авторизуватися</a>
        </div>
    </div>
</div>
<script src="/static/js/validationForgotPasswordForm.js"></script>
</body>
</html>