<!DOCTYPE html>
<html lang="uk">
<head th:insert="fragments/basicFragments :: headFragment"></head>
<body>

<header th:insert="fragments/basicFragments :: navbar"></header>

<div class="container">
    <div class="w-75 mx-auto" style="margin-top: 70px; margin-bottom: 70px;">
        <article class="text-center">
            <h2>Вітаємо на сайті Порівнювач!</h2>
            <p class="h5">Тут ви маєте можливість порівняти вказані вами тексти або файли та визначити ступінь їх
                співпадіння.</p>
        </article>

        <article style="margin-top: 70px">
            <h3 class="text-center">Використаний алгоритм</h3>
            <p class="text-center">
                Алгоритм шинглів (від англ. shingles — лусочки) — алгоритм, розроблений для пошуку копій та дублікатів
                розглянутого тексту в вебдокументі. Інструмент для виявлення плагіату.
                Уді Манбер в 1994 р. першим у світі висловив ідею пошуку дублікатів, а в 1997 р. Андрій Бродер
                оптимізував і довів її до логічного завершення, дав ім'я даній системі — «алгоритм шинглів».
                <br><br>
                Ключовим параметром в даному алгоритмі є
                довжина шингла. Якщо задати значення в одне слово, то відсоток схожості буде найбільшим, оскільки
                ймовірність того, що одне і теж слово використовувалося в обох текстах дуже велика. З іншого боку, якщо
                задати дуже велику довжину, то тексти будуть вважатися менш схожими, оскільки ймовірність входжень
                однакових словосполучень значно менша. Отже, для порівняння середніх за розміром текстів радимо
                використовувати довжину шингла в 3-4 слова.
            </p>
        </article>

        <article style="margin-top: 70px">
            <h3 class="text-center">Можливості</h3>
            <p class="text-center">
                Основні функції сайту стануть доступними після проходження авторизації.
                <br>
                Ви матимете можливість:
            </p>
            <div class="mx-auto" style="width: 600px">
                <ul>
                    <li>Порівнювати тексти, отримати ступінь їх співпадіння та спільні фрагменти.</li>
                    <li>Порівняти тексти у вказаних файлах.</li>
                    <li>Отримати історію порівняння текстів чи файлів.</li>
                    <li>Завантажити чи надіслати собі на пошту результат порівняння.</li>
                    <li>Редагувати деякі вказані при реєстрації особисті дані.</li>
                </ul>
            </div>
        </article>
    </div>

</div>

<th:block th:insert="fragments/basicFragments :: footer"></th:block>
</body>
</html>