<!DOCTYPE HTML>
<html lang="uk">
<head th:insert="fragments/basicFragments :: headFragment"></head>

<link rel="stylesheet" href="/static/css/formGeneralStyle.css">

<style>
    .link-container a {
        text-decoration: none;
    }

    .link-container a:hover {
        color: #5a5a5a;
    }

    #pageTitle {
        position: relative;
        font-size: 22px;
    }

    #pageTitle:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 150px;
        background: black;
    }
</style>

<body>

<header th:insert="fragments/basicFragments :: navbar"></header>
<div class="container mt-5 mb-4">
    <div id="loginContainer" class="m-auto" style="width: 500px;">
        <h5 id="pageTitle" class="text-center mb-5">Авторизація</h5>

        <th:block th:if="${param.error != null}">
            <div class="alert alert-danger text-center" role="alert" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
        </th:block>

        <th:block th:if="${message != ''}">
            <div th:class="'alert alert-' + ${messageType} + ' text-center'" role="alert" th:text="${message}"></div>
        </th:block>

        <form id="loginForm" action="/login" method="post">
            <div>
                <div class="form-group row">
                    <div class="col" style="margin-bottom: 30px">
                        <label for="usernameLogin">Введіть логін:</label>
                        <th:block th:if="${usernameError}">
                            <input id="usernameLogin" type="text" name="username"
                                   class="form-control is-invalid position-relative"
                                   th:value="${user} ? ${user.username}"
                                   placeholder="Логін"/>
                            <div id="usernameErrorLogin" class="invalid-feedback position-absolute"
                                 style="width: fit-content"
                                 th:text="${usernameError}"></div>
                        </th:block>
                        <th:block th:unless="${usernameError}">
                            <input id="usernameLogin" type="text" name="username"
                                   class="form-control position-relative"
                                   th:value="${user} ? ${user}"
                                   placeholder="Логін"/>
                            <div id="usernameErrorLogin" class="invalid-feedback position-absolute"
                                 style="width: fit-content"></div>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col" style="margin-bottom: 30px">
                        <label for="passwordLogin">Введіть пароль:</label>
                        <th:block th:if="${passwordError}">
                            <input id="passwordLogin" type="password" name="password"
                                   class="form-control is-invalid position-relative"
                                   placeholder="Пароль"/>
                            <div id="passwordErrorLogin" class="invalid-feedback position-absolute"
                                 style="width: fit-content"
                                 th:text="${passwordError}"></div>
                        </th:block>
                        <th:block th:unless="${passwordError}">
                            <input id="passwordLogin" type="password" name="password"
                                   class="form-control position-relative"
                                   placeholder="Пароль"/>
                            <div id="passwordErrorLogin" class="invalid-feedback position-absolute"
                                 style="width: fit-content"></div>
                        </th:block>
                    </div>
                </div>

                <div class="text-center position-relative">
                    <div id="recaptcha" class="g-recaptcha"
                         data-sitekey="6Lekfc8fAAAAALA4S3glskj4yfT0JXfOiiiMGGFf"
                         data-callback="verifyCaptcha"
                         style="display: inline-block;"></div>
                    <div id="recaptchaError"></div>
                </div>

                <div id="loginButtonContainer" class="text-center">
                    <button class="btn btn-dark" style="margin-top: 20px" type="submit">Увійти</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </div>
            </div>
        </form>

        <div class="mt-3 text-center link-container">
            <div>
                <a class="link-dark" href="/registration">Зареєструватися</a>
            </div>
            <div class="mt-2">
                <a class="link-dark" href="/forgot-password">Забули пароль?</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/validationLogin.js"></script>
</body>
</html>