<!DOCTYPE HTML>
<html lang="uk">
<head th:insert="fragments/basicFragments :: headFragment"></head>

<body>
<header th:insert="fragments/basicFragments :: navbar"></header>

<link rel="stylesheet" href="/css/dataTableStyle.css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="/static/js/userListDataTable.js"></script>


<div class="container mt-5 mb-4">
    <h5>Список користувачів</h5>
    <div class="mt-5">
        <table id="userListTable" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>№</th>
                <th>Логін</th>
                <th>Пошта</th>
                <th>Статус</th>
                <th>Роль</th>
                <th>Дата реєстрації</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>№</th>
                <th>Логін</th>
                <th>Пошта</th>
                <th>Статус</th>
                <th>Роль</th>
                <th>Дата реєстрації</th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="user, i : ${users}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.status}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${#temporals.format(user.registrationDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <th:block th:if="${#authentication.getPrincipal().getUsername() == user.username}">
                    <td><a class="btn btn-dark disabled" th:href="@{'/user/' + ${user.id} + '/edit'}">Редагувати</a></td>
                    <td>
                        <form th:id="'deleteForm' + ${user.id}" th:action="@{'/user/' + ${user.id} + '/delete'}" method="post">
                            <a class="btn btn-dark disabled" th:attr="href='javascript:submitDeleteForm(\'deleteForm' + ${user.id} + '\', \'' + ${user.username} + '\')'">Видалити</a>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </td>
                </th:block>
                <th:block th:unless="${#authentication.getPrincipal().getUsername() == user.username}">
                    <td><a class="btn btn-dark" th:href="@{'/user/' + ${user.id} + '/edit'}">Редагувати</a></td>
                    <td>
                        <form th:id="'deleteForm' + ${user.id}" th:action="@{'/user/' + ${user.id} + '/delete'}" method="post">
                            <a class="btn btn-dark" th:attr="href='javascript:submitDeleteForm(\'deleteForm' + ${user.id} + '\', \'' + ${user.username} + '\')'">Видалити</a>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>